<div class = "quotes">
    <h2>List of quotes</h2>
        {{#if listExists}}
            <ul>
                {{#each data}}
                    <li>{{this.quote}}</li>
                    <li>{{this.character}}</li>
                    <img src={{this.image}}/>
                {{/each}}
            </ul>
        {{/if}}
</div>