<div class = "quotes">
        {{#if listExists}}
            <ul>
                {{#each data}}
                    <li id="qu">{{this.quote}}</li>
                    <li id="name">{{this.character}}</li>
                    <img class="char" src={{this.image}}/>
                {{/each}}
            </ul>
        {{/if}}
</div>